<div class="container m-5">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <h2 class="pb-2 border-bottom  mx-5" (click)="navigateTo('home')"><i class="bi bi-house-door-fill"></i></h2>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-5"><a class="nav-link" (click)="navigateTo('components')">Components</a> </li>
                <li class="nav-item px-5"><a class="nav-link" (click)="navigateTo('directives')">Directives</a> </li>
                <li class="nav-item px-5"><a class="nav-link" (click)="navigateTo('services')">Services</a> </li>
                <li class="nav-item px-5"><a class="nav-link" (click)="navigateTo('pipes')"> Pipes</a></li>
                <li class="nav-item px-5"><a class="nav-link" (click)="navigateTo('others')">Other</a> </li>
            </ul>

        </div>
    </nav>
</div>